.about{
    &__content{
        @include flex-down(10px);
        margin-left:20px;
        grid-column: 2;
    }
    &__image{
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }
    &__skills{
        @include flex-down(10px);
        grid-column: 3;
        margin-left:20px;
        margin-top: 50px;
    }

}