.projects{
&__container{
        grid-column: 1 / -1;  
        text-align: center;
        @include flex-down(20px);
        grid-row: 1;
        width: 800px;
        margin: 0 auto;
    }
&__card-div{
    margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 80px;
        grid-column: 1 / -1;
    }
&__card{
        img{
            opacity: 65%;
        }
        display: flex;
        width: 400px;
        border: solid white 1px;
        height: 250px;
        border-radius: 5px;
        justify-content: center;
        position: relative;
        h2{
            position: absolute;
            top: 20px;
            font-weight: bold;
            color: white;
        }
    
      form{
        position: absolute;
        bottom: 20px;
      }
        button{
            right: auto;
            width: 120px;
            height: 40px;
            background-color: $primary-color;
            border-radius: 5px;
            color: white;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: white;
                color: black;
            }
    
        }
    
       
    }

    &__github{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
    &__link{
        cursor: pointer;
        &:hover{
            color: white;
            font-size: 28px;
        }
    }
}



